target/classes/UniMartTeam/model/Utils/QueryBuilder.class
target/classes/UniMartTeam/model/Utils/ConPool.class
target/classes/UniMartTeam/model/EnumForBeans/TipoUtente.class
target/classes/UniMartTeam/model/EnumForBeans/StatoOrdine.class
target/classes/UniMartTeam/model/EnumForBeans/StatoCoupon.class
target/classes/UniMartTeam/model/DAO/spedizioneDAO.class
target/classes/UniMartTeam/model/DAO/categoriaDAO.class
target/classes/UniMartTeam/model/Beans/Utente.class
target/classes/UniMartTeam/model/Beans/Spedizione.class
target/classes/UniMartTeam/model/Beans/Prodotto.class
target/classes/UniMartTeam/model/Beans/Possiede.class
target/classes/UniMartTeam/model/Beans/Ordine.class
target/classes/UniMartTeam/model/Beans/Inventario.class
target/classes/UniMartTeam/model/Beans/Coupon.class
target/classes/UniMartTeam/model/Beans/Composto.class
target/classes/UniMartTeam/model/Beans/Categoria.class
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.project
.classpath
