/target/classes/UniMartTeam/model/EnumForBeans/StatoCoupon.class
/.idea/.gitignore
/.classpath
/.project
/target/UniMart-1.0-SNAPSHOT/css/icons/account_circle_white.svg
/target/classes/UniMartTeam/model/Beans/Categoria.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Beans/Categoria.class
/.idea/compiler.xml
/target/classes/UniMartTeam/model/Beans/Composto.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Beans/Composto.class
/target/classes/UniMartTeam/model/Utils/ConPool.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Utils/ConPool.class
/target/classes/UniMartTeam/model/Beans/Coupon.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Beans/Coupon.class
/.idea/dataSources.xml
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/classes/UniMartTeam/model/Beans/Inventario.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Beans/Inventario.class
/.idea/jarRepositories.xml
/target/UniMart-1.0-SNAPSHOT/WEB-INF/lib/jstl-1.2.jar
/target/UniMart-1.0-SNAPSHOT/META-INF/MANIFEST.MF
/.idea/libraries/Maven__javax_servlet_javax_servlet_api_4_0_1.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_7_1.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_7_1.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_7_1.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_7_1.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/misc.xml
/.idea/modules.xml
/target/UniMart-1.0-SNAPSHOT/WEB-INF/lib/mysql-connector-java-8.0.15.jar
/target/classes/UniMartTeam/model/Beans/Ordine.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Beans/Ordine.class
/.settings/org.eclipse.jdt.apt.core.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/target/classes/UniMartTeam/model/Beans/Possiede.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Beans/Possiede.class
/target/classes/UniMartTeam/model/Beans/Prodotto.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Beans/Prodotto.class
/target/UniMart-1.0-SNAPSHOT/css/icons/shopping_cart_black.svg
/target/classes/UniMartTeam/model/Beans/Spedizione.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Beans/Spedizione.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/EnumForBeans/StatoCoupon.class
/target/classes/UniMartTeam/model/EnumForBeans/StatoOrdine.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/EnumForBeans/StatoOrdine.class
/target/classes/UniMartTeam/model/EnumForBeans/TipoUtente.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/EnumForBeans/TipoUtente.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/lib/tomcat-jdbc.jar
/.idea/uiDesigner.xml
/target/classes/UniMartTeam/model/Beans/Utente.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Beans/Utente.class
/.idea/vcs.xml
/target/UniMart-1.0-SNAPSHOT/WEB-INF/web.xml
/.idea/workspace-SABATO.xml
/target/classes/UniMartTeam/model/Extractors/CategoriaExtractor.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Utils/QueryBuilder.class
/target/classes/UniMartTeam/model/DAO/CategoriaDAO.class
/target/UniMart-1.0-SNAPSHOT/icons/account_circle_white.svg
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/DAO/CategoriaDAO.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Extractors/CategoriaExtractor.class
/target/classes/UniMartTeam/model/Extractors/CompostoExtractor.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Extractors/CompostoExtractor.class
/target/classes/UniMartTeam/model/DAO/CouponDAO.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/DAO/CouponDAO.class
/target/classes/UniMartTeam/model/Extractors/CouponExtractor.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Extractors/CouponExtractor.class
/target/classes/UniMartTeam/model/Extractors/InventarioExtractor.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Extractors/InventarioExtractor.class
/target/classes/UniMartTeam/model/Extractors/OrdineExtractor.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Extractors/OrdineExtractor.class
/target/classes/UniMartTeam/model/Extractors/PossiedeExtractor.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Extractors/PossiedeExtractor.class
/target/classes/UniMartTeam/model/Extractors/ProdottoExtractor.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Extractors/ProdottoExtractor.class
/target/classes/UniMartTeam/model/Utils/QueryBuilder.class
/target/UniMart-1.0-SNAPSHOT/icons/shopping_cart_black.svg
/target/classes/UniMartTeam/model/DAO/SpedizioneDAO.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/DAO/SpedizioneDAO.class
/target/classes/UniMartTeam/model/Extractors/SpedizioneExtractor.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Extractors/SpedizioneExtractor.class
/.idea/libraries/tomcat_jdbc.xml
/UniMart.iml
/target/classes/UniMartTeam/model/Extractors/UtenteExtractor.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/Extractors/UtenteExtractor.class
/target/UniMart-1.0-SNAPSHOT/css/normalize.css
/target/classes/UniMartTeam/model/DAO/InventarioDAO.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/DAO/InventarioDAO.class
/target/classes/UniMartTeam/model/DAO/OrdineDAO.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/DAO/OrdineDAO.class
/target/classes/UniMartTeam/model/DAO/ProdottoDAO.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/DAO/ProdottoDAO.class
/target/classes/UniMartTeam/model/DAO/UtenteDAO.class
/target/UniMart-1.0-SNAPSHOT/WEB-INF/classes/UniMartTeam/model/DAO/UtenteDAO.class
