.mb-3 {
    margin-bottom: 1.5rem !important;
}
.logo{
    width: 250px;
    height: 250px;
    flex: 1;
}
html {
    background: linear-gradient(45deg, var(--primary), var(--primaryT)) no-repeat;
    height: 100%;

}

div{
    display: flex;
    flex-direction: row;
}

table{
    margin-right: 50px;
}

fieldset{
    border-width: 0px;
}