h1 {
    font-family: Calibri;
    font-size: clamp(16px, 2vw, 35px);
    line-height: 27.5px;
    text-align: center;
    word-spacing: 0px;
    color: var(--black);
    height: 90px;
    width: 1500px;
    padding: 38px 0px 24px 0px;
    display: block;
    transform: none;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, var(--primary), var(--primaryT)) no-repeat;
    height: 100%;
}

.container {
    padding: 16px;
    background-color: white;
}
