:root {
    --white: #ffffff;
    --black: #000000;
    --ocra: #f29727;
    --primary: #253340;
    --primaryT: rgba(37, 51, 64, 0.1);
    --primaryT05: rgba(37, 51, 64, 0.5);
    --secondary: #87CE1E;
    --warning: #FF2F27;
    --neutral: #EAEDED;
}

@font-face {
    font-family: 'Roboto-Black';
    font-style: italic;
    font-weight: normal;
    src: url("../fonts/Roboto-BlackItalic.ttf");
}

@font-face {
    font-family: 'Roboto-Black';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: normal;
    src: url("../fonts/Roboto-Italic.ttf");
}

@font-face {
    font-family: 'Roboto-Light';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: 'Roboto-Light';
    font-style: italic;
    font-weight: normal;
    src: url("../fonts/Roboto-LightItalic.ttf");
}

@font-face {
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: 'Roboto-Medium';
    font-style: italic;
    font-weight: normal;
    src: url("../fonts/Roboto-MediumItalic.ttf");
}

@font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Roboto-Thin';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: 'Roboto-Thin';
    font-style: italic;
    font-weight: normal;
    src: url("../fonts/Roboto-ThinItalic.ttf");
}

/* HEADER */

header {
    background-color: var(--primary);
    width: 100%;
    height: 100px;
    top: 0;
    position: sticky;
    display: flex;
}

header img {
    width: 60px;
    height: 50%;
    margin: 20px 0px 0px;
    display: block;
    float: left;
    border-radius: 20px;
    transition: all 400ms ease-in-out;
}

header form {
    height: 100%;
    width: 70%;
    padding: 0px;
    margin: 20px 0px 0px;
}

header input[type=text] {
    display: block;
    float: left;
    height: 50%;
    width: 100%;
    padding: 0%;
    border-radius: 20px;
    text-align: center;
    max-width: 750px;
}

header .logo {
    width: 15%;
    height: 92%;
    float: left;
    margin: 0px 15px 0px;
    border-radius: 0px;
    cursor: pointer;
}

header #resultsSearch {
    border-radius: 20px;
    text-align: center;
    background-color: var(--neutral);
    margin: 25px;
    max-width: 750px;
}

header #resultsSearch a {
    color: var(--black);
    margin: 15px;
    display: inline-block;
}

header img:hover {
    transform: scale(1.3);
}

header #resultsSearch a:hover {
    background-color: var(--primaryT);
    transform: scale(1.5);
}

/* FOOTER */

footer {
    background-color: var(--primary);
    bottom: 0;
    display: flex;
    width: 100%;
    padding: 0px;
    margin: auto 0px;
    position: inherit;
}

footer a{
    color: var(--neutral);
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: normal;
    width: 33.33%;
    padding: 10px 0px;
    text-align: center;
}

footer a:hover{
    transform: scale(1.2);
}

/* ALL */

* {
    box-sizing: border-box;
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: normal;
}

body, html {
    padding: 0;
    margin: 0 auto;
}

main {
    overflow: auto;
    padding: 5px 20px 10px;
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}

a {
    text-decoration: none;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}
.transition {
    transition: all 100ms ease-in-out;
}

.transition2 {
    transition: all 300ms ease-in-out;
}

.gradient {
    background: linear-gradient(90deg, var(--primary), var(--primaryT05)) repeat;
}

.gradient2 {
    background: linear-gradient(270deg, var(--primaryT05), var(--neutral)) repeat;
}

.gradient3 {
    background: linear-gradient(40deg, var(--secondary), var(--neutral)) repeat;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.flex-dirCol {
    flex-direction: column;
}

.flex-dirRow {
    flex-direction: row;
}

.flex-item-40 {
    padding: 10px;
    flex: 30%;
    width: 30%;
    margin: 10px 10px 0px 10px;
}

.flex-item-50 {
    padding: 10px;
    flex: 50%;
    width: 50%;
    margin: 10px 10px 0px 10px;
}

.flex-item-80 {
    padding: 10px;
    flex: 80%;
    width: 80%;
    margin: 10px 10px 0px 10px;
}

.flex-item-100 {
    padding: 10px;
    flex: 100%;
    width: 100%;
    margin: 10px 10px 0px 10px;
}

.flex-item-40, .flex-item-50, .flex-item-100 {
    margin: 10px auto;
}

.btn {
    max-width: 300px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 25px;
    margin: 10px auto;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: var(--white);
    background-color: var(--warning);
    border-color: var(--black);
}

.btn-primary:hover {
    color: var(--black);
    background-color: var(--white);
    border-color: var(--warning);
}

.btn-secondary {
    color: var(--white);
    background-color: var(--ocra);
    border-color: var(--black);
}

.btn-secondary:hover {
    color: var(--black);
    background-color: var(--white);
    border-color: var(--ocra);
}

.btn-primary:active {
    color: var(--white);
    background-color: var(--warning);
    border-color: var(--black);
}

.btn-primary:active:focus {
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.btn-primary:disabled {
    color: var(--white);
    background-color: var(--secondary);
    border-color: var(--black);
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-copy {
    color: var(--white) !important;
}
label {
    font-size: 22px;
    max-width: 300px;
}

input {
    text-align: center;
    border-radius: 10px;
    height: 35px;
    width: 90%;
    max-width: 300px;
}

.button-center {
    max-width: 170px;
}

button {
    max-width: 250px;
    height: 50px;
}

main img {
    heigh: 200px;
    width: 200px;
    border-radius: 20px;
}

.grid-container {
    display: inline-grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    grid-auto-columns: 200px 200px;
    background-color: var(--neutral);
    grid-auto-flow: row dense;
    text-align: center;
    align-items: center;
}

hr {
    border-top: 2px solid var(--neutral);
}

/* LOGIN */

.login main {
    overflow-x: hidden;
    max-width: 700px;
    margin: 0 auto;
}

.login .error {
    margin: 15px auto;
    color: var(--ocra);
}

.login main .logo, .creaUtente main .logo {
    height: 150px;
}

/* NAVBAR */

nav a{
    color: var(--black);
}

/* DASHBOARD */

.dashboard main>.box {
    border: 2px solid var(--black);
    padding: 20px;
    margin: 10px;
    height: 90%;
    width: 90%;
}

.dashboard main>.box:hover{
    transform: scale(1.1);
}

.dashboard main>.box>.data {
    padding: 20px;
    margin: 10px auto;
}

/* MODAL */

.creaModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(71, 78, 93, 0.8);
    padding-top: 50px;
}

.creaModal-form {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
    border-radius: 25px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* TOOLTIP */

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    display: none;
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    display: inline;
    visibility: visible;
    opacity: 1;
}

@media screen and (min-height: 320px) and (max-width: 480px) {
    /* HEADER */

    header .logo {
        display: none;
    }

    header .assistenza {
        display: inline-block;
        position: fixed;
        bottom: 120px;
        right: 10px;
    }

    header .assistenza img {
        background: var(--primaryT05);
    }

    header form {
        margin: 20px 15px 0px;
    }

    /* FOOTER */

    footer {
        flex-direction: column;
    }

    footer a{
        width: 100%;
    }

    /* LOGIN */

    .login .flex-dirRow{
        flex-direction: column;
    }

    .login .assistenza {
        bottom: 30px;

    }

    /* ALL */

    .flex-item-50 {
        padding: 10px;
        flex: 90%;
        width: 90%;
        margin: 10px 10px 0px 10px;
    }

    .text-right {
        text-align: center !important;
    }

    .text-left {
        text-align: center !important;
    }

    main {
        padding: 5px 0px;
    }

    /* DASHBOARD */

    .dashboard main>.box {
        margin: 5px auto;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    /* ALL */


}

@media screen and (min-width: 769px) {
    /* HEADER */

    header img {
        margin: 20px 20px 0px;
    }

    header .logo {
        margin: 0px 15px;
    }

    header #resultsSearch {
        margin: 0px;
    }

    /* ALL */

    .flex-item-50 {
        padding: 10px;
        flex: 30%;
        width: 30%;
        margin: 10px 10px 0px 10px;
    }
}