input {
    display: block;
    border-radius: 20px;
    width: 500px;
    height: auto;
    padding: 10px 10px;
    text-align: center;
}

form {
    display: block;
}

header {
    background-color: #253340;
    padding: 20px;
    text-align: center;
}

section {
    padding-right: 40px;
    padding-top: 10px;
    padding-left: 20px;
}

#feedback {
    transform: rotateZ(-90deg);
    border-radius: 25px;
    font-family: Verdana, sans-serif;
    font-size: 25px;
    position: fixed;
    top: 50%;
    right: -65px;
    padding: 5px 15px 30px 15px;
    background-color: #F29727;
}

footer {
    background-color: #EAEDED;
    padding: 20px;
    text-align: center;
}

body {
	min-width: 350px;
}

img {
    display: block;
    float: right;
    padding: 0px 10px 0px 10px;
}

@media screen and (max-width:700px) {
    input[type="text"] {
        width: 300px;
        /*! height: auto; */
        padding: 5px 1px;
        /*! text-align: center; */
    }
}

@media screen and (min-width:1000px) {
    input[type="text"] {
        width: 700px;
        height: auto;
        padding: 10px 5px;
        text-align: center;
    }
}